.borda-branca {
    border: 1.666666px solid white;
}

.fonte-branca {
    color: #ffffff !important;
}

.html {
    background-color:  #55595c;
    height: 100%;
    width: 100%;
}

.body {
    background-color: #A9A9A9;
    height: 100%;
    width: 100%;
}

.prod-u, .leg-irr {
    color: #cccccc;
    text-align: center;
    margin-top: 0.3rem;
}

.crd{
    width: 100%;
}

.crd-g {
    width: 100%;
    padding: 0;
    margin-right: 0 rem;
    height: 100%;
}

.graph {
    width: 100%;
}

.crd-i{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 0 rem;
}

.idgt{
    width: 66.666666%;
    height: 100%;
}
.container-fluid{
    padding : 0, 0, 0, 0;
    padding-right: 0;
    padding-left: 0;
}

.col-sm-10, .col-sm-2 {
    padding-right: 0;
    padding-left: 0;
}

.row* {
    --bs-gutter-x: 1.5rem;
    padding: 0, 0, 0, 0;
    padding-right: 0;
    padding-left: 0;
}
.label{
    color: white;
}

.card, .opcoes-drop {
    color: white;
}

#tabela {
    background-color: #597793;
}

.tab-desempenho {
    width: 100%;
}

.nome-usina {
    margin-top: 9%;
    line-height: 0.01;
    text-align: center;
}

.card-db-form {
    margin: 5% 5% 5% 5%;
}

.cm-img{
    height: 100%;
    width: 60%;
    margin: 0 20% 0 20%;
}

.cm-val{
    text-align: center;
}

.qg-img{
    height: 100%;
    width: 29.7%;
    margin: 0 33.333% 0 33.333%;
}